
    .grid-productos {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }


    .Taula {
      border: 1px solid #444;
      padding: 15px;
      background: #333;
    }

    .Imatges {
      width: 200px;
      height: 200px;
      object-fit: cover;
      background: #555;
    }

  
    .boton {
      display: block;
      width: 100%;
      padding: 10px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      text-align: center;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      background: #f2f2f2;
      color: #111;
      transition: 0.1s ease;
    }

    .pasarpelboto {
      transform: scale(1.03);
      box-shadow: 0 6px 10px rgba(0,0,0,0.2);
    }
