body {
  background-color: #3f3f3f;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #fff;
}

/* Títol gran */
.titol {
  color: #fff;
  font-size: 36px;
  text-align: left;
  margin-left: 15px;
}

/* Trending */
#trending {
  color: red;
  font-size: 32px;
  margin-bottom: 20px;
  text-decoration: underline;
  letter-spacing: 2px;
}

/* Tarjeta */
.card {
  background: #3b3b3b;
  padding: 10px;
  border-radius: 6px;
}

/* Imatge */
.foto {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

/* Botó reutilitzat del teu codi */
.boto {
  background: #c0c0c0;
  color: #000;
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.boto:hover {
  background-color: #934dad;
  transform: scale(1.05);
}

.negreta {
  font-weight: bold;
  color: #fff;
}

.enllac {
  color: #fff;
  text-decoration: none;
}

.enllac:hover {
  text-decoration: underline;
}

.text-peu {
  font-size: 14px;
  color: #ddd;
  padding-right: 15px;
}

.temporada {
  color: #ddd;
}
